<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Base de connaissances Méhari</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href=" {{ path ('app_intro') }}">Base de connaissances Méhari</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href=" {{ path ('app_intro') }}">Introduction</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href=" {{ path ('app_accueil') }}">Licence</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href=" {{ path ('app_presentation') }}">Présentation</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Header-->
<header class="masthead" style="background-color: #777777; color: #FFFFFF;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>"Présentation de Méhari  - Standard (2017)
                        Démarche d'analyse et de traitement des risques"
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1>1. Présentation de Méhari  - Standard
                </h1>
                <p>Méhari - Standard prend en compte la norme ISO 27002: 2013 de manière étroite : le services de sécurité ont été définis en fonction de cette norme et tous les aspects de la norme sont pris en compte.
                </p>
                <p>La base de questionnaire a été revue pour un diagnostic plus aisé, tout en conservant la rigueur d'analyse et la volonté de ne pas sous-estimer les risques qui sont le cœur de Méhari depuis l'origine.
                </p>
                <p>Les scénarios de risque conservent la même structure que précédemment mais peuvent faire référence à plusieurs types d'actifs si le traitement de ces scénarios fait appel aux mêmes services de sécurité. Dans de tels cas, l'impact le plus sérieux est pris en compte pour l'évaluation de la gravité du scénario de risque.
                </p>

                <h1>2. Démarche d'analyse et de traitement des risques
                </h1>
                <p>La première étape, incontournable, est l'évaluation des impacts intrinsèques. C'est une étape fondamentale et toute l'analyse des risques, comme leur traitement, dépend de cette évaluation.
                </p>
                <p>La deuxième étape, le diagnostic de l'état des services de sécurité, est inchangée par rapport aux versions précédentes de Méhari, à ceci près que les questionnaires sont plus réduits.
                </p>
                <p>Une fois ces deux étapes réalisées, on obtient une première synthèse des risques dans la feuille Risk%actifs, que ce soit un panorama des risques intrinsèques, sans tenir compte des services de sécurité, ou des risques actuels, en fonction des services de sécurité, ou des risques réduits à l'issue de tous les projets de réduction de risque, ou à un date donnée et à l'issue des projets achevés à cette date..
                </p>
                <p>"Le traitement des risques est, dans cette version de Méhari, basé sur des projets qui regroupent plusieurs  services de sécurité cohérents à améliorer.
                    Ces projets peuvent être sélectionnés, dans un premier temps, dans la feuille Plans_d'action, ou directement dans la feuille Projets, puis précisés et planifiés, dans la feuille Projets. Une aide à la sélection des projets est procurée dans la feuille Sel_Projets."
                </p>
                <p>
                    Les cibles de niveaux de qualité visés, pour chaque service de sécurité, au sein de chaque projet, sont indiqués en standard mais peuvent être modifiés par l'utilisateur.
                </p>
                <p>
                    A chaque moment, on peut, dans la feuille Risk%actifs, sélectionner par des boutons de choix, une synthèse et un panorama des risques intrinsèques, des risques actuels ou des risques à l'issue des projets (planifiés ou non).
                </p>
                <p>
                    Des indicateurs et un tableau de bord sont fournis dans la feuille Tbord
                </p>
            </div>
        </div>
    </div>
</article>
<!-- Footer-->
<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                        </a>
                    </li>
                </ul>
                <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2023</div>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
