<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Base de connaissances Méhari</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href=" {{ path ('app_intro') }}">Base de connaissances Méhari</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href=" {{ path ('app_intro') }}">Introduction</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href=" {{ path ('app_accueil') }}">Licence</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href=" {{ path ('app_presentation') }}">Présentation</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Header-->
<header class="masthead" style="background-color: #333333; color: #FFFFFF;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>" Licence d'attribution et de partage de MEHARI
                        ou d'oeuvre dérivée de MEHARI "
                    </h1>
                    <h2 class="subheading">" Licence adaptée de la licence publique Creative Commons
                        Attribution - Partage dans les mêmes conditions 4.0 International "
                    </h2>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <span class="meta">
                    <p> Lorsque Vous exercez les Droits accordés par la licence (définis ci-dessous), Vous acceptez d'être lié par les termes et conditions de la présente Licence. Dans la mesure où la présente Licence peut être interprétée comme un contrat, Vous bénéficiez des Droits accordés par la licence en contrepartie de Votre acceptation des présents termes et conditions, et le Donneur de licence Vous accorde ces droits en contrepartie des avantages que lui procure le fait de mettre à disposition l’Œuvre sous licence en vertu des présents termes et conditions.
                    </p>
                </span>
                <h1>Article 1 - Définitions.</h1>
                <p>Œuvre dérivée signifie œuvre protégée par les Droit d’auteur
                    et droits connexes, dérivée ou adaptée de l’Œuvre sous licence et dans laquelle l’Œuvre
                    sous licence est traduite, retouchée, arrangée, transformée, ou modifiée de telle façon que l’autorisation du Donneur de licence est nécessaire,
                    conformément aux dispositions des Droit d’auteur et droits connexes
                </p>
                <p>The Final Frontier licence d’Œuvre dérivée signifie licence par laquelle Vous accordez Vos Droit d'auteur et droits connexes portant sur Vos contributions à l'Œuvre dérivée, selon les termes et conditions de la présente Licence

                </p>
                <p>Droit d’auteur et droits connexes signifie droit d’auteur et/ou droits connexes incluant, notamment,
                    la présentation, la diffusion et le Droit sui generis des producteurs de bases de données, quelle que
                    soit la classification ou qualification juridique de ces droits. Dans le cadre de la présente Licence,
                    les droits visés à l’Article 2(b)(1)-(2) ne relèvent ni du Droit d’auteur ni de droits connexes.
                </p>
                <p>Mesures techniques efficaces signifie mesures techniques qui, en l’absence d’autorisation expresse,
                    ne peuvent être contournées dans le cadre de lois conformes aux dispositions de l’Article 11 du Traité
                    de l’OMPI sur le droit d’auteur adopté le 20 Décembre 1996 et/ou d’accords internationaux de même objet.
                </p>
                <p>Exceptions et limitations signifie utilisation loyale et équitable (fair use et fair dealing)
                    et/ou toute autre exception ou limitation applicable à Votre utilisation de l’Œuvre sous licence.
                </p>
                <p>Eléments de licence signifie les composantes de la licence figurant dans l’intitulé de la Licence. Les éléments de la présente Licence sont : Attribution et Partage dans les mêmes conditions.
                </p>
                <p>Œuvre sous licence signifie  toute base de connaissances, documentation associée, dossier technique ou toute autre œuvre pour laquelle le Donneur de licence a recours à la présente Licence.
                </p>
                <p>Droits accordés par la licence signifie droits qui Vous sont accordés selon les termes et conditions d’utilisation définis par la présente Licence, limités aux Droit d’auteur et droits connexes applicables à Votre utilisation de l’Œuvre sous licence et que le Donneur de licence a le droit d’accorder.
                </p>
                <p>Donneur de licence signifie un individu ou une entité octroyant la présente Licence et les droits accordés par elle.
                </p>
                <p>Partager signifie mettre une œuvre à la disposition du public par tout moyen ou procédé qui requiert l’autorisation découlant des Droits accordés par la licence, tels que les droits de reproduction, de présentation au public, de distribution, de diffusion, de communication ou d’importation, y compris de manière à ce que chacun puisse y avoir accès de l’endroit et au moment qu’il choisit individuellement.
                </p>
                <p>Droit sui generis des producteurs de bases de données signifie droits distincts du droit d'auteur résultant de la Directive 96/9/CE du Parlement européen et du Conseil du 11 mars 1996 sur la protection juridique des bases de données, ainsi que tout autre droit de nature équivalente dans le monde.</p>
                <p>Vous (preneur de licence) se rapporte à tout individu ou entité exerçant les Droits accordés par la licence. Votre et Vos renvoient également au preneur de licence.
                </p>



                <h1>Article 2 - Champ d’application de la présente Licence.</h1>
                <h4>Octroi de la licence</h4>
                <p>1. Sous réserve du respect des termes et conditions d'utilisation de la présente Licence, le Donneur de licence Vous autorise à exercer pour le monde entier, à titre gratuit, non sous-licenciable, non exclusif, irrévocable, les Droits accordés par la licence afin de :
                <ul>
                    <li>A. reproduire et Partager l’Œuvre sous licence, en tout ou partie ; et</li>
                    <li>B. produire, reproduire et Partager l’Œuvre dérivée.</li>
                </ul>

                </p>
                <p>
                    2. Exceptions et limitations. Afin de lever toute ambiguïté, lorsque les Exceptions et limitations s’appliquent à Votre utilisation, la présente Licence ne s’applique pas et Vous n’avez pas à Vous conformer à ses termes et conditions.
                </p>
                <p>
                    3. Durée. La durée de la présente Licence est définie à l’Article 6(a).
                </p>
                <p>
                    4. Supports et formats : modifications techniques autorisées. Le Donneur de licence Vous autorise à exercer les Droits accordés par la licence sur tous les supports et formats connus ou encore inconnus à ce jour, et à apporter toutes les modifications techniques que ceux-ci requièrent. Le Donneur de licence renonce et/ou accepte de ne pas exercer ses droits qui pourraient être susceptibles de Vous empêcher d’apporter les modifications techniques nécessaires pour exercer les Droits accordés par la licence, y compris celles nécessaires au contournement des Mesures techniques efficaces. Dans le cadre de la présente Licence, le fait de ne procéder qu’à de simples modifications techniques autorisées selon les termes du présent Article 2(a)(4) n’est jamais de nature à créer une Œuvre dérivée.

                </p>
                <p>5. Utilisateurs en aval.
                    <ul>
                    <li>
                        A. Offre du Donneur de licence – Œuvre sous licence. Chaque utilisateur de l’Œuvre sous licence reçoit automatiquement une offre de la part du Donneur de licence lui permettant d’exercer les Droits accordés par la licence selon les termes et conditions de la présente Licence.
                    </li>
                    <li>
                        B. Offre additionnelle du Donneur de licence – Œuvre dérivée. Chaque utilisateur d’une Œuvre dérivée reçoit automatiquement une offre du Donneur de licence lui permettant d’exercer les Droits accordés par la licence sur l’Œuvre dérivée selon les termes et conditions de la Licence d’Œuvre dérivée que Vous appliquez.
                    </li>
                    <li>
                        C. Pas de restrictions en aval pour les utilisateurs suivants. Vous ne pouvez proposer ou imposer des termes et conditions supplémentaires ou différents, ou appliquer quelque Mesure technique efficace que ce soit à l’Œuvre sous licence si ceux(celles)-ci sont de nature à restreindre l’exercice des Droits accordés par la licence aux utilisateurs de l’Œuvre sous licence.
                    </li>
                </ul>
                </p>
                <p>6. Non approbation. Aucun élément de la présente Licence ne peut être interprété comme laissant supposer que le preneur de licence ou que l’utilisation qu’il fait de l’Œuvre sous licence est lié à, parrainé, approuvé, ou doté d'un statut officiel par le Donneur de licence ou par toute autre personne à qui revient l’attribution de l’Œuvre sous licence, comme indiqué à l’Article 3(a)(1)(A)(i).
                </p>
                <h4> Autres droits.
                </h4>
                <p>1. Les droits moraux, tel que le droit à l’intégrité de l’œuvre, ne sont pas accordés par la présente Licence, ni le droit à l’image, ni le droit au respect de la vie privée, ni aucun autre droit de la personnalité ou apparenté ; cependant, dans la mesure du possible, le Donneur de licence renonce et/ou accepte de ne pas faire valoir les droits qu’il détient de manière à Vous permettre d’exercer les Droits accordés par la licence.
                </p>
                <p>2. Le droit des brevets et le droit des marques ne sont pas concernés par la présente Licence.
                </p>
                <p>3. Dans la mesure du possible, le Donneur de licence renonce au droit de collecter des redevances auprès de Vous pour l’exercice des Droits accordés par la licence, directement ou indirectement dans le cadre d’un régime de gestion collective facultative ou obligatoire assorti de possibilités de renonciation quel que soit le type d’accord ou de licence. Dans tous les autres cas, le Donneur de licence se réserve expressément le droit de collecter de telles redevances.
                </p>

                <h1>Article 3 – Conditions d'utilisation de la présente Licence.</h1>
                <ol>
                    <li>
                        Si Vous partagez l’Œuvre sous licence (y compris sous une forme modifiée), Vous devez :
                        <ol type="A">
                            <li>
                                conserver les informations suivantes lorsqu’elles sont fournies par le Donneur de licence avec l’Œuvre sous licence :
                                <ol type="i">
                                    <li>identification du(des) auteur(s) de l’Œuvre sous licence et de toute personne à qui revient l’attribution de l’Œuvre sous licence, dans la mesure du possible, conformément à la demande du Donneur de licence (y compris sous la forme d’un pseudonyme s’il est indiqué)</li>
                                    <li>l’indication de l’existence d’un droit d’auteur</li>
                                    <li>une notice faisant référence à la présente Licence</li>
                                    <li>une notice faisant référence aux limitations de garantie et exclusions de responsabilité</li>
                                    <li>un URI ou un hyperlien vers l’Œuvre sous licence dans la mesure du possible</li>
                                </ol>
                            </li>
                            <li>
                                Indiquer si Vous avez modifié l’Œuvre sous licence, et, dans ce cas :
                                <ol type="i">
                                    <li>conserver un suivi des modifications précédentes</li>
                                    <li>tenir informé le Donneur de licence des modifications apportées</li>
                                    <li>indiquer l’Œuvre originale dont l’Œuvre sous Licence est issue</li>
                                    <li>mentionner que le Clusif a été le créateur et le premier développeur de la méthode MEHARI dont est issue l’Œuvre sous Licence</li>
                                </ol>
                            </li>
                            <li>Indiquer si l’Œuvre sous licence est mise à disposition en vertu de la présente Licence en incluant le texte, l’URI ou l’hyperlien correspondant à la présente Licence</li>
                        </ol>
                    </li>



                    <li>
                        Vous pouvez satisfaire aux conditions de l’Article 3(a)(1) dans toute la mesure du possible, en fonction des supports, moyens et contextes dans lesquels Vous Partagez l’Œuvre sous licence. Par exemple, Vous pouvez satisfaire aux conditions susmentionnées en fournissant l’URI ou l’hyperlien vers la ressource incluant les informations requises.
                    </li>
                    <li>
                        Bien que requises aux termes de l’Article 3(a)(1)(A), certaines informations devront être retirées, dans la mesure du possible, si le Donneur de licence en fait la demande.
                    </li>
                </ol>
                <h1>Article 4 – Le Droit sui generis des producteurs de bases de données.</h1>

                <p> Lorsque les Droits accordés par la licence incluent le Droit sui generis des producteurs de bases de données applicable à Votre utilisation de l’Œuvre sous licence :
                </p>
                <ol type="a">
                    <li>
                        afin de lever toute ambiguïté, l’Article 2(a)(1) Vous accorde le droit d’extraire, réutiliser, reproduire et Partager la totalité ou une partie substantielle du contenu de la base de données ;
                    </li>
                    <li>
                        si Vous incluez la totalité ou une partie substantielle du contenu de la base de données dans une base de données pour laquelle Vous détenez un Droit sui generis de producteur de bases de données, la base de données sur laquelle Vous détenez un tel droit (mais pas ses contenus individuels) sera alors considérée comme une Œuvre dérivée, y compris pour l’application de l’Article 3(b) ; et
                    </li>
                    <li>
                        Vous devez respecter les conditions de l’Article 3(a) si Vous Partagez la totalité ou une partie substantielle du contenu des bases de données.
                    </li>
                </ol>
                <p>Afin de lever toute ambiguïté, le présent Article 4 complète mais ne remplace pas Vos obligations découlant des termes de la présente Licence lorsque les Droits accordés par la licence incluent d’autres Droit d’auteur et droits connexes.
                </p>
                <h1>Article 6 – Durée et fin.</h1>

                <ol type="a">
                    <li>
                        La présente Licence s’applique pendant toute la durée de validité des Droits accordés par la licence. Cependant, si Vous manquez à Vos obligations prévues par la présente Licence, Vos droits accordés par la présente Licence seront automatiquement révoqués.
                    </li>
                    <li>
                        Lorsque les Droits accordés par la licence ont été révoqués selon les termes de l’Article 6(a), ils seront rétablis :
                        <ol>
                            <li>automatiquement, à compter du jour où la violation aura cessé, à condition que Vous y remédiiez dans les 30 jours suivant la date à laquelle Vous aurez eu connaissance de la violation ; ou
                            </li>
                            <li>à condition que le Donneur de licence l’autorise expressément.
                            </li>
                        </ol>
                        Afin de lever toute ambiguïté, le présent Article 6(b) n’affecte pas le droit du Donneur de licence de demander réparation dans les cas de violation de la présente Licence.
                    </li>
                    <li>
                        Afin de lever toute ambiguïté, le Donneur de licence peut également proposer l’Œuvre sous licence selon d’autres termes et conditions et peut cesser la mise à disposition de l’Œuvre sous licence à tout moment ; une telle cessation n’entraîne pas la fin de la présente Licence.
                    </li>
                    <li>
                        Les Articles 1, 5, 6, 7, et 8 continueront à s’appliquer même après la résiliation de la présente Licence.
                    </li>
                </ol>

                <h1> Article 7 – Autres termes et conditions.
                </h1>
                <ol type="a">
                    <li>Sauf accord exprès, le Donneur de licence n’est lié par aucune modification des termes de Votre part.
                    </li>
                    <li>Tous arrangements, ententes ou accords relatifs à l’Œuvre sous licence non mentionnés dans la présente Licence sont séparés et indépendants des termes et conditions de la présente Licence.
                    </li>
                </ol>

                <h1> Article 8 – Interprétation.
                </h1>

                <ol type="a">
                    <li>
                        Afin de lever toute ambiguïté, la présente Licence ne doit en aucun cas être interprétée comme ayant pour effet de réduire, limiter, restreindre ou imposer des conditions plus contraignantes que celles qui sont prévues par les dispositions légales applicables.
                    </li>
                    <li>
                        Dans la mesure du possible, si une clause de la présente Licence est déclarée inapplicable, elle sera automatiquement modifiée a minima afin de la rendre applicable. Dans le cas où la clause ne peut être modifiée, elle sera écartée de la présente Licence sans préjudice de l’applicabilité des termes et conditions restants.

                    </li>
                    <li>
                        Aucun terme ni aucune condition de la présente Licence ne sera écarté(e) et aucune violation ne sera admise sans l’accord exprès du Donneur de licence.
                    </li>
                    <li>
                        Aucun terme ni aucune condition de la présente Licence ne constitue ou ne peut être interprété(e) comme une limitation ou une renonciation à un quelconque privilège ou à une immunité s’appliquant au Donneur de licence ou à Vous, y compris lorsque celles-ci émanent d’une procédure légale, quel(le) qu’en soit le système juridique concerné ou l’autorité compétente.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</article>
<!-- Footer-->
<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                        </a>
                    </li>
                </ul>
                <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2023</div>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
