<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Base de connaissances Méhari</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href=" {{ path ('app_intro') }}">Base de connaissances Méhari</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href=" {{ path ('app_intro') }}">Introduction</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href=" {{ path ('app_accueil') }}">Licence</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href=" {{ path ('app_presentation') }}">Présentation</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Header-->
<header class="masthead" style="background-color: #777799; color: #ffffff;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>MEHARI™ - Standard - V1.3

                    </h1>
                    <h2 class="subheading">Base de connaissances Méhari

                    </h2>
                    <span class="meta">
                        <h3> "MEHARI est une marque déposée par le CLUSIF
                        La présente base de connaissances est diffusée sous les termes et conditions de la ""Licence d'attribution et de partage de MEHARI ou d'oeuvre dérivée de MEHARI"", incluse dans ce dossier"
                        </h3>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2>Module d'analyse des enjeux et classification des actifs:</h2>
                <p style=" font-weight: bold;">T1 et T2</p> 	<p>Tableaux de classification</p>
                <p style=" font-weight: bold;">Classif</p>	<p>Classification des actifs</p>
                    <h2>
                    Module du diagnostic des services de sécurité (ou d'audit)
                    </h2>
                <p style=" font-weight: bold;">Domaines 1 Org à 8 Cex</p> 	<p>Questionnaires relatifs aux domaines (1 à 8) de sécurité MEHARI</p>
                <p style=" font-weight: bold;">Services</p>	<p>Récapitulé de la qualité des services de sécurité (avec variantes)</p>
                <p style=" font-weight: bold;">Score ISO</p>	<p>Table de scoring ISO 27002 suite au diagnostic des services Méhari</p>
                    <h2>
                    Module d'analyse de risque (identification, estimation et évaluation des risques)
                    </h2>
                <p style=" font-weight: bold;">Expo</p>	<p>Tableau des expositions naturelles aux menaces</p>
                <p style=" font-weight: bold;">Scénarios</p>	<p>Scénarios de risque incluant le calcul des risques</p>
                <p style=" font-weight: bold;">Risk%Actif</p>	<p>Panorama de gravité des scénarios par type d'actif</p>
                <p style=" font-weight: bold;">Risk%event</p>	<p>Panorama de gravité des scénarios par type d'événement</p>
                    <h2>Traitement des risques : options, plans de réduction et suivi
                    </h2>
                <p style=" font-weight: bold;">Plans_action</p>	<p>Présélection de Projets de réduction des risques, par domaine de risques</p>
                <p style=" font-weight: bold;">Projets</p>	<p>Sélection directe et planification des projets</p>
                <p style=" font-weight: bold;">Sel_Projets</p>	<p>Aide à la sélection de Projets de réduction des risques</p>
                <p style=" font-weight: bold;">Tbord</p>	<p>Indicateurs et tableau de bord
                    <h2>Eléments permanents et de paramétrage de la méthode
                    </h2>
                <p style=" font-weight: bold;">Incidents</p>	<p>Types d'incidents utilisés pour définir les scénarios de risque</p>
                <p style=" font-weight: bold;">Gravité</p>	<p>Détermination de la Gravité du risque en fonction de la Potentialité et de l’Impact</p>
                <p style=" font-weight: bold;">Grilles IP</p>	<p>Tables de détermination d’Impact et de Potentialité des scénarios</p>
                <style>
                th, td , tr {
                text-align: left;
                padding: 8px;
                border: 1px solid black;
                }
                </style>
                <table style="border: 1px solid black;">
                    <tr>
                        <th>Date</th>
                        <th>Versions et commentaires</th>
                        <th >"Collaborateurs et examinateurs
                            du Groupe de travail Clusiq "

                        </th>
                    </tr>
                    <tr>
                        <td>11 mai 2017</td>
                        <td>Edition 1</td>
                        <td rowspan="7">Jean René Blanchet<br>Guirec Duperrin<br>Gilles Gouin<br>Christophe Jolivet<br>Jean-Philippe Jouas<br>Benoit Laliberté<br>Chantale Pineault<br>Jean-Louis Roule</td>
                        </td>
                    </tr>
                    <tr>
                        <td>27 juin 2018</td>
                        <td>Incorporation de la Licence Attribution - Partage dans les mêmes conditions à la base de connaissance</td>
                    </tr>
                    <tr>
                        <td>3 juillet 2018</td>
                        <td>V 1.2 : Incorporation de la "Licence d'attribution et de partage de MEHARI ou d'œuvre dérivée de MEHARI" à la base de connaissance</td>
                    </tr>
                    <tr>
                        <td>25 mai 2019</td>
                        <td>V 1.3 : Incorporations de rectificatifs sur quelques libellés</td>
                    </tr>
                    <tr>
                        <td>MEHARI est une méthode de management des risques conçue et développée par le CLUSIF
                        </td>
                        <td>Club de la Sécurité de l'Information Français
                            <a href="http://www.clusif.fr">http://www.clusif.fr</a> </td>
                    </tr>
                    <tr style="border: 1px solid black;">
                        <td>la présente version a été élaborée par le CLUSIQ en vertu d’un accord de partenariat conclu entre le CLUSIF et le CLUSIQ
                        </td>
                        <td>"Club de la Sécurité de l'Information du Québec

                            <a href="http://www.clusiq.ca">http://www.clusiq.ca</a> </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</article>
<!-- Footer-->
<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                        </a>
                    </li>
                </ul>
                <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2023</div>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
